.div-border {
    border: 2px solid gray;
    margin-bottom: 20px;
    padding-bottom: 35px;
}

.blue {
    background-color: #0000ff;
    color: white;
    display: inline-block;
    width: 32%;
    height: 100px;
    text-align: center;
    
}

.red {
    background-color: #ff0000;
    color: white;
    display: inline-block;
    width: 32%;
    height: 100px;
    text-align: center;
}

.green {
    background-color: #008000;
    color: white;
    display: inline-block;
    width: 32%;
    height: 100px;
    text-align: center;
}

body {
    width: 80%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.color-container, .colors-heading {
    margin: 1%;
}

.font-header {
    text-align: center;
    text-decoration: underline;
    font-weight: 100;
}

.montserrat {
    width: 32%;
    height: 100px;
    display: inline-block;
}

.montserrat-regular {
    font-family: 'Montserrat', sans-serif;
}

.montserrat-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.montserrat-italics {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

.ysabeau {
    width: 32%;
    height: 100px;
    display: inline-block;
}

.ysabeau-regular {
    font-family: 'Ysabeau', sans-serif;
}

.ysabeau-bold {
    font-family: 'Ysabeau', sans-serif;
    font-weight: bold;
}

.ysabeau-italics {
    font-family: 'Ysabeau', sans-serif;
    font-style: italic;
}

.lato {
    width: 32%;
    height: 100px;
    display: inline-block;
}

.lato-regular {
    font-family: 'Lato', sans-serif;
}

.lato-bold {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.lato-italics {
    font-family: 'Lato', sans-serif;
    font-style: italic;
}

